*, *::after, *::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
  background: linear-gradient(to right, hsl(315, 65%, 84%), hsl(305, 89%, 36%));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.square{
    width: 10rem;
    height: 10rem;
    border: 1px solid rgb(100, 6, 100);
   
}

.square:hover {
    background: rgb(158, 60, 197);
    cursor: pointer;
}

.symbol {
  font-size: 9rem;
  color: white;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
}

.board{
    width: 31rem;
    height: 30 rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}